# =========================================================
# ENVIRONMENT
# =========================================================
APP_ENV=dev

# =========================================================
# BACKEND CONNECTION
# =========================================================

BACKEND_SCHEME=
BACKEND_HOST=
BACKEND_PORT=