APP_ENV=dev

# Vault
VAULT_HTTP_TIMEOUT=2
VAULT_ADDR=
VAULT_AUTH_METHOD=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_DATABASE_ROLE_NAME=

# PostgreSQL

# DB creds mode:
# static → всегда использовать .env
# vault  → только Vault (без fallback)
# auto   → сначала Vault, при ошибке fallback на static
DB_CREDS_MODE=static

POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_QUERY_TIMEOUT=3

POSTGRES_HOST=
POSTGRES_PORT=

POSTGRES_DB=

POSTGRES_USER=
POSTGRES_PASSWORD=
