QMenu {
    background-color: #232323;
    border: 1px solid #2f2f2f;
    padding: 2px;
    font-size: 12px;
}


QMenu::item {
    padding: 4px 18px;    
    color: #dddddd;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #3a3a3a;
    color: #ffffff;
}

QMenu::separator {
    height: 1px;
    background: #444;
    margin: 4px 6px;
}

QMenu::right-arrow {
    width: 8px;       
    height: 8px;
}

QMenu::icon {
    margin-left: 4px; 
}


QMenuBar {
    background-color: transparent;
    color: #d0f0f0;
    font-size: 12px;
}

QMenuBar::item {
    background: transparent;
    padding: 4px 8px;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background-color: rgba(0, 200, 200, 0.25);
    color: white;
}

QMenuBar::item:pressed {
    background-color: rgba(0, 200, 200, 0.4);
}


QToolTip {
    background-color: #1e1e1e;
    color: #dddddd;
    border: 1px solid #3a3a3a;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 12px;
}
