QTreeWidget {
    background-color: #121e21;
    border: none;
}

QTreeWidget::item {
    height: 20px;
}

QTreeWidget::item:!has-children {
    font-size: 9pt;
}

QTreeWidget::item:selected {
    background-color: #22363a;
}


QMenu {
    background-color: #2b2b2b;
    border: 1px solid #444;
    padding: 4px;
}

